<div class="position-relative">
  <div class="position-absolute mt-3 top-0 start-50 translate-middle">
    {{!-- {{> alert}} --}}
  </div>
</div>

<div class="home-container">
  <div class="d-flex flex-column align-items-center">
    <form class="input-group shadow-sm mb-2 search" action="/home" method="GET">
      <input type="search" class="form-control border-secondary" name="search" placeholder="Look for a thought" />
      <button type="submit" class="btn btn-dark">
        <i class="bi bi-search"></i>
      </button>
    </form>
    {{#if search}}
    <div class="d-flex align-items-center gap-2 mt-2">
      <span>Order by:</span>
      <form class="m-0" action="/home" method="GET">
        <input type="hidden" name="search" value="{{this.search}}" />
        <input type="hidden" name="order" value="new" />
        <button type="submit" class="btn btn-dark btn-sm rounded-pill" id="new">
          <i class="bi bi-arrow-up"></i>
          Newer
        </button>
      </form>
      <form class="m-0" action="/home" method="GET">
        <input type="hidden" name="search" value="{{this.search}}" />
        <input type="hidden" name="order" value="old" />
        <button type="submit" class="btn btn-dark btn-sm rounded-pill" id="old">
          <i class="bi bi-arrow-down"></i>
          Older
        </button>
      </form>
      <a href="/home">Clear filters</a>
    </div>
    {{/if}}
  </div>

  <hr class="my-4" />

  <div class="my-3 p-3 bg-body rounded-3 shadow-sm border text-break">
    {{#if search}}
    <h6 class="fw-bold border-bottom pb-2 mb-0">You are looking for: "<span class="fst-italic text-muted">{{search}}
      </span>"
    </h6>
    {{else}}
    <h6 class="fw-bold border-bottom pb-2 mb-0">Recent updates</h6>
    {{/if}}
    {{#each thoughts}}
    <div class="d-flex flex-column justify-content-between text-muted pt-3 border-bottom">
      <div class="d-flex align-items-start gap-3">
        {{#if UserPicture}}
        <a href="/user/profile/{{this.User.uuid}}" class="text-decoration-none">
          <div class="user-picture-box rounded-pill">
            <div class="user-picture picture-48 rounded-pill" style="background-image: url(/{{this.UserPicture.name}})">
            </div>
          </div>
        </a>
        {{else}}
        <a href="/user/profile/{{this.User.uuid}}" class="text-decoration-none">
          <div class="user-picture-box rounded-pill">
            <div class="user-picture picture-48 rounded-pill" style="background-image: url(/img/user-profile.png)">
            </div>
          </div>
        </a>
        {{/if}}
        <div class="d-flex flex-column align-items-start pb-3 mb-3 lh-sm">
          <a href="/user/profile/{{this.User.uuid}}" class="mb-1 opacity-75 link-primary text-decoration-none fw-bold">
            {{this.User.name}}
            {{this.User.lastname}}
          </a>
          <p class="mb-0">
            {{this.title}}
          </p>
        </div>
      </div>
      <small class="align-self-end opacity-50 text-nowrap">
        {{dateFormat this.createdAt "dddd, DD/MM/YYYY - HH:mm"}}
      </small>
    </div>
    {{/each}}
    {{#if noThoughts}}
    <p class="mt-3 text-center">Nobody thought about it yet. You can be the
      first.</p>
    {{/if}}
  </div>
</div>