<div class="position-relative">
  <div class="position-absolute mt-3 top-0 start-50 translate-middle">
    {{> alert}}
  </div>
</div>

<div class="row g-5">
  <div class="col-md-3 border rounded-3 me-3">
    <div class="position-sticky" style="top: 2rem">
      <div class="d-flex flex-column align-items-center p-2">
        <img
          src="/img/user-profile.png"
          alt="{{user.name}}'s profile  photo"
          width="128"
          height="128"
          class="rounded-circle my-2"
        />
        <h4>{{user.name}} {{user.lastname}}</h4>
      </div>

      <div class="p-2 bg-light">
        <p class="mx-auto text-wrap text-break fst-italic">
          {{user.about}}
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, in
          autem, a soluta quidem qui, nesciunt at culpa placeat eveniet dolores
          accusantium. Distinctio culpa temporibus doloribus iure dignissimos
          laudantium pariatur!
        </p>
      </div>
      <a
        href="/user/edit/{{user.uuid}}"
        class="btn btn-dark btn-sm rounded-pill w-100"
      >
        Edit profile
      </a>
      <hr class="my-4" />
      <div class="p-2">
        <ul class="list-unstyled">
          <li>
            <a href="mailto:{{user.email}}" class="text-decoration-none">
              <i class="bi bi-envelope-fill"></i>
              {{user.email}}
            </a>
          </li>
          {{#if user.twitter}}
            <li>
              <a
                href="https://twitter.com/{{user.twitter}}"
                target="_blank"
                class="text-decoration-none"
              >
                <i class="bi bi-twitter"></i>
                @{{user.twitter}}
              </a>
            </li>
          {{/if}}
          {{#if user.facebook}}
            <li>
              <a
                href="{{user.facebook}}"
                target="_blank"
                class="text-decoration-none"
              >
                <i class="bi bi-facebook"></i>
                {{user.name}} {{user.lastname}}
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-8 border rounded-3 pt-3">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      Your thoughts
    </h3>

    {{#each userThoughts}}
      <article class="mb-4">
        <p class="fs-4 fst-italic mb-1">"{{this.title}}"</p>
        <small class="opacity-50 text-nowrap">
          {{dateFormat this.createdAt "dddd, DD/MM/YYYY - HH:mm"}}
        </small>
      </article>
      <hr class="my-4" />
    {{/each}}

    {{#if userNoThoughts}}
      <p>You haven't thought much lately</p>
    {{/if}}
  </div>
</div>