<div class="position-relative">
  <div class="position-absolute mt-5 top-0 start-50 translate-middle">
    {{> alert}}
  </div>
</div>

<div class="row g-5">
  <div class="col-md-3 border rounded-3 me-3 bg-body shadow-sm">
    <div class="position-sticky" style="top: 2rem">
      <div class="d-flex flex-column align-items-center p-2">
        {{#if userImage}}
          <img
            src="/uploads/users/pictures/{{userImage.name}}"
            alt="{{user.name}}'s profile  photo"
            class="img-thumbnail rounded-circle my-2 user-photo"
          />
        {{else}}
          <img
            src="/img/user-profile.png"
            alt="{{user.name}}'s profile  photo"
            class="img-thumbnail rounded-circle my-2 user-photo"
          />
        {{/if}}
        <h4>{{user.name}} {{user.lastname}}</h4>
      </div>

      <div class="p-2 bg-body">
        <p class="mx-auto text-wrap text-break fst-italic">
          {{user.about}}
        </p>
      </div>
      <hr class="my-4" />
      <div class="p-2">
        <ul class="list-unstyled">
          <li>
            <a href="mailto:{{user.email}}" class="text-decoration-none">
              <i class="bi bi-envelope-fill"></i>
              {{user.email}}
            </a>
          </li>
          {{#if user.twitter}}
            <li>
              <a
                href="https://twitter.com/{{user.twitter}}"
                target="_blank"
                class="text-decoration-none"
              >
                <i class="bi bi-twitter"></i>
                @{{user.twitter}}
              </a>
            </li>
          {{/if}}
          {{#if user.facebook}}
            <li>
              <a
                href="{{user.facebook}}"
                target="_blank"
                class="text-decoration-none"
              >
                <i class="bi bi-facebook"></i>
                {{user.name}}
                {{user.lastname}}
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-8 border rounded-3 pt-3 bg-body shadow-sm">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      {{user.name}}'s thoughts
    </h3>

    {{#each userThoughts}}
      <article class="mb-4 p-3 border rounded-3">
        <p class="fs-4 fst-italic mb-1 text-break">"{{this.title}}"</p>
        <small class="opacity-50 text-nowrap">
          {{dateFormat this.createdAt "dddd, DD/MM/YYYY - HH:mm"}}
        </small>
      </article>
    {{/each}}

    {{#if userNoThoughts}}
      <p>{{user.name}} hasn't thought much lately</p>
    {{/if}}
  </div>
</div>