<div class="home-header">
  {{#if search}}
    <h1>You are looking for: "<span>{{search}}</span>"</h1>
  {{else}}
    <h1>All Thoughts</h1>
  {{/if}}
  <form action="/" method="GET">
    <input type="text" name="search" placeholder="Look for a thought" />
    <button type="submit" class="btn bi bi-search">
      Search
    </button>
  </form>
  <div class="filters-container">
    <span>Order by</span>
    <form action="/" method="GET">
      <input type="hidden" name="search" value="{{this.search}}" />
      <input type="hidden" name="order" value="new" />
      <button type="submit">
        <i class="bi bi-arrow-up"></i>
      </button>
    </form>
    <form action="/" method="GET">
      <input type="hidden" name="search" value="{{this.search}}" />
      <input type="hidden" name="order" value="old" />
      <button type="submit">
        <i class="bi bi-arrow-down"></i>
      </button>
    </form>
    <a href="/">Clear filters</a>
  </div>
</div>
<div class="thoughts-container">
  {{#each thoughts}}
    <figure>
      <blockquote>"{{this.title}}"</blockquote>
      <figcaption>
        <div class="author">
          by
          <a href="/user/{{this.User.uuid}}">{{this.User.name}}</a>
        </div>
        <div class="date">
          <span>{{dateFormat this.createdAt "dddd, DD/MM/YYYY - HH:mm"}}</span>
        </div>
      </figcaption>
    </figure>
  {{/each}}
  {{#if noThoughts}}
    <p>Nobody thought about it yet. You can be the first.</p>
  {{/if}}
</div>