<div class="position-relative">
  <div class="position-absolute mt-3 top-0 start-50 translate-middle">
    {{> alert}}
  </div>
</div>

<div class="row d-flex align-items-center justify-content-between">
  <div class="col-6">
    {{#if search}}
      <h1 class="fw-bold">You are looking for: "<span
          class="fst-italic text-muted"
        >{{search}}</span>"</h1>
    {{else}}
      <h1 class="fw-bold">All Thoughts</h1>
    {{/if}}
  </div>
  <div class="col-4 align-self-start">
    <form class="input-group mb-2 search" action="/" method="GET">
      <input
        type="search"
        class="form-control text-bg-light"
        name="search"
        placeholder="Look for a thought"
      />
      <button type="submit" class="btn btn-dark">
        <i class="bi bi-search"></i>
      </button>
    </form>
    <div class="d-flex justify-content-end align-items-center gap-2">
      <span>Order by:</span>
      <form class="m-0" action="/" method="GET">
        <input type="hidden" name="search" value="{{this.search}}" />
        <input type="hidden" name="order" value="new" />
        <button
          type="submit"
          class="btn btn-outline-dark btn-sm rounded-pill"
          id="new"
        >
          <i class="bi bi-arrow-up"></i>
          Newer
        </button>
      </form>
      <form class="m-0" action="/" method="GET">
        <input type="hidden" name="search" value="{{this.search}}" />
        <input type="hidden" name="order" value="old" />
        <button
          type="submit"
          class="btn btn-outline-dark btn-sm rounded-pill"
          id="old"
        >
          <i class="bi bi-arrow-down"></i>
          Older
        </button>
      </form>
      <a href="/">Clear filters</a>
    </div>
  </div>
</div>
<hr class="my-4" />
{{#each thoughts}}
  <article class="mb-4 d-flex justify-content-between">
    <figure class="mb-0">
      <blockquote class="blockquote">
        <h2 class="fst-italic">"{{this.title}}"</h2>
      </blockquote>
      <figcaption class="blockquote-footer mb-0">
        <cite title="{{this.User.name}}">
          <a
            href="/user/profile"
            class="mb-0 opacity-75 link-primary text-decoration-none fw-bold"
          >
            {{this.User.name}}
          </a>
        </cite>
      </figcaption>
    </figure>
    <small class="opacity-50 text-nowrap">
      {{dateFormat this.createdAt "dddd, DD/MM/YYYY - HH:mm"}}
    </small>
  </article>
  <hr class="my-4" />
{{/each}}

{{#if noThoughts}}
  <p>Nobody thought about it yet. You can be the first.</p>
{{/if}}