<div class="position-relative">
  <div class="position-absolute mt-3 top-0 start-50 translate-middle">
    {{> alert}}
  </div>
</div>

<div
  class="d-flex align-items-center justify-content-between p-4 bg-body border rounded-3 shadow-sm"
>
  {{#if search}}
    <h3 class="fw-bold">You are looking for: "<span
        class="fst-italic text-muted"
      >{{search}}
      </span>"
    </h3>
  {{else}}
    <h1 class="fw-bold">All Thoughts</h1>
  {{/if}}
  <div class="d-flex flex-column align-items-center gap-1">
    <form class="input-group shadow-sm mb-2 search" action="/" method="GET">
      <input
        type="search"
        class="form-control border-secondary"
        name="search"
        placeholder="Look for a thought"
      />
      <button type="submit" class="btn btn-dark">
        <i class="bi bi-search"></i>
      </button>
    </form>
    <div class="d-flex align-items-center gap-2">
      <span>Order by:</span>
      <form class="m-0" action="/" method="GET">
        <input type="hidden" name="search" value="{{this.search}}" />
        <input type="hidden" name="order" value="new" />
        <button
          type="submit"
          class="btn btn-outline-dark btn-sm rounded-pill"
          id="new"
        >
          <i class="bi bi-arrow-up"></i>
          Newer
        </button>
      </form>
      <form class="m-0" action="/" method="GET">
        <input type="hidden" name="search" value="{{this.search}}" />
        <input type="hidden" name="order" value="old" />
        <button
          type="submit"
          class="btn btn-outline-dark btn-sm rounded-pill"
          id="old"
        >
          <i class="bi bi-arrow-down"></i>
          Older
        </button>
      </form>
      <a href="/">Clear filters</a>
    </div>
  </div>
</div>

<hr class="my-4" />

<div class="my-3 p-3 bg-body rounded-3 shadow-sm border">
  <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
  {{#each thoughts}}
    <div class="d-flex justify-content-between text-muted pt-3 border-bottom">
      <div class="d-flex align-items-start">
        {{#if UserImage}}
          <a
            href="/user/profile/{{this.User.uuid}}"
            class="text-decoration-none"
          >
            <img
              src="/{{this.UserImage.name}}"
              alt="user profile photo"
              class="rounded-circle border border-2 user-photo-min me-2"
            />
          </a>
        {{else}}
          <a
            href="/user/profile/{{this.User.uuid}}"
            class="text-decoration-none"
          >
            <img
              src="/img/user-header.png"
              alt="user profile photo"
              class="rounded-circle border border-2 user-photo-min me-2"
            />
          </a>
        {{/if}}
        <div class="d-flex flex-column align-items-start pb-3 mb-3 lh-sm">
          <a
            href="/user/profile/{{this.User.uuid}}"
            class="mb-1 opacity-75 link-primary text-decoration-none fw-bold"
          >
            {{this.User.name}}
            {{this.User.lastname}}
          </a>
          <p class="mb-0">
            {{this.title}}
          </p>
        </div>
      </div>
      <small class="opacity-50 text-nowrap">
        {{dateFormat this.createdAt "dddd, DD/MM/YYYY - HH:mm"}}
      </small>
    </div>
  {{/each}}
  {{#if noThoughts}}
    <p class="mt-3 text-center">Nobody thought about it yet. You can be the
      first.</p>
  {{/if}}
</div>